.dark-mode-btn {
    position: relative;
    order: 3;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    width: 52px;
    height: 27px;
    border-radius: 50px;
    border: 1px solid #000;
    @include tablet-min {
        order: 0;
    }
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: rgb(78 88 149 / 60%);
        transition: left 0.3s ease-in;
    }
    &--active {
        &::before {
            left: 26px;
        }
    }
    &__icon {
        position: relative;
        z-index: 9;
    }
}