.footer {
    &__wrapper {
        padding: 16px 0;
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        @include phone {
            flex-direction: column-reverse;
        }
    }
    &__copyright {
        font-size: 18px;
        color: $dark-text;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    &__icon {
        width: 28px;
        height: 28px;
        fill: #000;
    }
}
