/* Header */
.header {
    padding-top: 100px;
    &__content {
        max-width: 900px;
        color: $dark-text;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 60px;
        font-weight: 400;
        @include tablet-min {
            font-size: 40px;
        }
        @include phone {
            font-size: 28px;
        }
        strong {
            font-weight: 700;
        }
    }
    &__text {
        margin-bottom: 60px;
        font-size: 24px;
        font-weight: 400;
    }
}
