/* Header */
.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        @include desktop-min {
            flex-direction: column;
        }
    }
    &__content {
        color: $dark-text;
    }
    &__title {
        margin-bottom: 10px;
        font-size: 60px;
        font-weight: 400;
        @include tablet-min {
            font-size: 40px;
        }
        @include phone {
            font-size: 28px;
        }
        strong {
            font-weight: 700;
        }
    }
    &__text {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
        @include phone {
            font-size: 18px;
        }
    }
    &__image {
        width: 100%;
        max-width: 500px;
        height: auto;
    }
}
